:root {
  --color-primario: #5f63ad;
  --color-secundario: #28a745;
  --color-celeste: #16a3b8;
  --color-verde-claro: #8ac34b;
  --color-verde-oscuro: #1f564a;
  --color-rojo: #dc3545;
  --color-fondo: #fff;
  --color-fondo-modal: rgba(0, 0, 0, 0.6);
  --color-borde: #ddd;
  --color-borde-hover: #e9ecef;
  --color-scroll-thumb: #007bff;
  --color-scroll-track: #f1f1f1;
  --color-texto-primario: #333;
  --color-texto-secundario: #555;
  --color-texto-hover: #dc3545;
}
